body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
header nav a{
  background: #9994;
}
#featured-property p{
  margin:10px 30% ;
}
#details{
  display: flex;
  justify-content: space-between;
  background: red;
  padding: 10px 10%;
}